<div>
  <h3>Galería Multimedia</h3>

  <div style="display: flex; flex-wrap: wrap;">
    <div *ngFor="let item of lstImage"
         style="margin: 0.5rem; padding: 0.5rem; display: flex; flex-direction: column; border-style: groove;">
      <img src="{{ apiURL }}/archivos/{{ item.contenido }}" alt="" height="150"/>
      <b>{{ item.titulo }}</b>
      <span>Por: {{ item.autor }}</span>
      <span>{{ item.fechacreacion | date: 'yyyy/MM/dd' }}</span>
      <!--<a href="{{ apiURL }}/galeria/det}}}}}{% url 'detalleGal' tipo='video' idbd=video.id %}">Ver detalle</a>-->
      <span><b>IMAGEN</b></span>
    </div>
    <div *ngFor="let item of lstAudio"
         style="margin: 0.5rem; padding: 0.5rem; display: flex; flex-direction: column; border-style: groove;">
      <img src="{{ apiURL }}/archivos/recursos/music.svg" alt="" height="150"/>
      <b>{{ item.titulo }}</b>
      <span>Por: {{ item.autor }}</span>
      <span>{{ item.fechacreacion | date: 'yyyy/MM/dd' }}</span>
      <span><b>AUDIO</b></span>
    </div>
    <div *ngFor="let item of lstVideo"
         style="margin: 0.5rem; padding: 0.5rem; display: flex; flex-direction: column; border-style: groove;">
      <video height="150" controls>
        <source src="{{ apiURL }}/archivos/{{ item.contenido }}">
      </video>
      <b>{{ item.titulo }}</b>
      <span>Por: {{ item.autor }}</span>
      <span>{{ item.fechacreacion | date: 'yyyy/MM/dd' }}</span>
      <span><b>VIDEO</b></span>
    </div>
  </div>
  <ul>
    <li>
      <a routerLink="/">Atrás</a>
    </li>
  </ul>
</div>
