<h2>Registro de un usuario</h2>
<form [formGroup]="registerForm">
  <label>Usuario:
    <input type="text" formControlName="username" placeholder="username" required="true"/>
  </label>
  <br/>
  <label>Password:
    <input type="password" formControlName="password" placeholder="name" required="true"/>
  </label>
  <br/>
  <label>Nombre:
    <input type="text" formControlName="first_name" placeholder="nombre" required="true"/>
  </label>
  <br/>
  <label>Apellido:
    <input type="text" formControlName="last_name" placeholder="apellido" required="true"/>
  </label>
  <br/>
  <label>Email:
    <input type="email" formControlName="email" placeholder="email" required="true"/>
  </label>
  <br/>
  <button type="submit" (click)="register()">Submit</button>
</form>
<ul>
  <li>
     <a href="{{ apiURL }}">Atrás</a>
  </li>
</ul>
